*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Dosis', sans-serif;
  min-height: 100vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

button {
  padding: 10px 20px;
  border-radius: 30px;
  text-align: center;
  border: none;
  background-color: var(--purple);
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-family: var(--font-d);
  font-size: 18px;
}
h1 {
  color: var(--purple);
  margin-bottom: 40px;
}

button:hover {
  background-color: var(--purple-l);
  transition: var(--smooth);
}
.display-flex {
  display: flex;
}

:root {
  --purple: #9c8cdb;
  --purple-l: #d3c0f9;
  --smooth: all 0.3s ease-in;
  --font-d: 'Dosis', sans-serif;
}
.portfolio__container {
  height: 100%;
  width: 100%;
  max-width: 960px;
  margin: 0 auto 50px;
  font-size: 20px;
}
/* navbar  */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 60px;
  height: 70px;
  width: 100%;
  justify-content: space-between;
  z-index: 1;
  transition: top 0.3s;
  background-color: white;
}
.navbar__action-rightsidebar {
  position: fixed;
  right: 0;
  top: 56px;
  background-color: white;
  height: 100vh;
  width: 70%;
  z-index: 2;
  box-shadow: 0px 8px 11px #232931;
  -webkit-transform: translate3d(-100%, 0px, 0px);
  transform: translate3d(105%, 0px, 0px);
  visibility: hidden;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}
.navbar__action-rightsidebar-background {
  display: none;
  content: '';
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 56px;
  background-color: #999;
  opacity: 0.3;
  z-index: 1;
}
.navbar__logo {
  height: 50px;
  width: 50px;
}

.navbar__links {
  align-items: center;
  height: 50px;
}
.navbar__action-bars {
  display: none;
}
.navbar__link {
  list-style-type: none;
  margin: 30px;
}

.navbar__link a {
  text-decoration: none;
  color: var(--purple);
  font-weight: bold;
  font-size: 18px;
}
.navbar__link a:hover {
  color: var(--purple-l);
}
/* introduction  */
.introduction {
  margin: 120px 0;
  display: flex;
}

.introduction__content h3 {
  color: var(--purple);
  margin-bottom: 40px;
}
.introduction__content h1 {
  font-size: 70px;
  font-weight: bold;
}
.introduction__content p {
  margin-bottom: 40px;
}

.introduction__img {
  min-width: 300px;
  height: 300px;
  margin-top: 120px;
  margin-left: 20px;
}
/* about  */

.about__tile_left p {
  margin-bottom: 20px;
}

.about__tile-right {
  margin-left: 40px;
}
.about__tile-mobile {
  display: none;
}
.about__tile-right__avatar-wrapper {
  width: 300px;
  height: 350px;
  position: relative;
}
.about__tile-right__avatar-wrapper img {
  border-radius: 15px;
}

.about__tile_left-lists,
.about__tile_bottom-lists {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  list-style-position: inside;
}
/* experience  */
.experience {
  margin: 120px 0;
}
/* work  */
.works__tile-mobile {
  display: none;
}
.works__img {
  min-width: 580px;
  height: 360px;
  border: 4px solid var(--purple-l);
  border-radius: 5px;
}

.works__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.works__content h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.works__content p {
  position: absolute;
  border-radius: 5px;
  background-color: var(--purple);
  top: 110px;
  left: -77px;
  padding: 20px;
  color: white;
  justify-content: flex-end;
}
.works__content--icons {
  margin-top: 180px;
}
.works__content--icons a {
  text-decoration: none;
  color: var(--purple);
}

.works__content--icons i {
  font-size: 35px;
  color: var(--purple);
}
/* contact  */
.contact {
  margin: 120px 0;
  flex-direction: column;
  align-items: center;
}

.contact__box {
  width: 640px;
  height: 200px;
  border: 5px solid var(--purple);
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.contact__box h3 {
  margin-bottom: 50px;
}
.portfolio__container footer {
  font-size: 14px;
  color: var(--purple);
  text-align: center;
}
/* left side bar  */
.leftside__bar {
  width: 40px;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: 40px;
}
.leftside__bar i {
  color: var(--purple);
  font-size: 28px;
  margin-bottom: 20px;
}

.leftside__bar i:hover {
  color: var(--purple-l);
}

.leftside__bar div {
  border-left: 2px solid var(--purple);
  height: 180px;
  margin-left: 12px;
}
.rightside__bar {
  width: 40px;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 40px;
}
.rightside__bar a {
  transform: rotate(90deg);
  font-size: 16px;
  color: var(--purple);
  text-decoration: none;
  margin-bottom: 125px;
  margin-left: 19px;
}

.rightside__bar a:hover {
  color: var(--purple-l);
}

.rightside__bar div {
  border-right: 2px solid var(--purple);
  height: 180px;
  margin-right: 12px;
}

@media screen and (max-width: 1259px) {
  .portfolio__container {
    max-width: 800px;
  }
  .introduction__content h1 {
    font-size: 58px;
  }
  .introduction__img {
    min-width: 250px;
    height: 250px;
  }
  .works__img {
    min-width: 440px;
    height: 280px;
  }
}
@media screen and (max-width: 1023px) {
  * {
    font-size: 14px;
  }
  .navbar__link a,
  button {
    font-size: 16px;
  }
  h1 {
    font-size: 32px;
  }
  .portfolio__container {
    max-width: 600px;
  }
  .leftside__bar {
    left: 28px;
  }
  .rightside__bar {
    right: 28px;
  }
  .introduction__img {
    min-width: 220px;
    height: 220px;
  }
  .introduction__content h1 {
    font-size: 42px;
  }
  .about__tile-right__avatar-wrapper {
    width: 200px;
    height: 250px;
  }
  .works__img {
    min-width: 340px;
    height: 200px;
  }
  .works__content h1 {
    font-size: 26px;
    margin-bottom: 12px;
  }
  .works__content p {
    top: 84px;
    padding: 16px;
  }
  .works__content--icons {
    margin-top: 84px;
  }
  .works__content--icons i:before {
    font-size: 16px;
  }
  .contact__box {
    width: 500px;
  }
}
@media screen and (max-width: 539px) {
  * {
    font-size: 12px;
  }
  .navbar__link a,
  button {
    font-size: 14px;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .portfolio__container {
    max-width: 300px;
  }
  .navbar {
    padding: 10px;
    height: auto;
    align-items: center;
  }
  .navbar__logo {
    width: 36px;
    height: 36px;
  }
  .navbar__action-bars i {
    font-size: 18px;
    color: var(--purple);
  }
  .navbar__links,
  .introduction__img,
  .about__tile,
  .works__tile,
  .leftside__bar,
  .rightside__bar {
    display: none;
  }
  .navbar__action-bars,
  .about__tile-mobile,
  .works__tile-mobile {
    display: initial;
  }

  .introduction__content h1 {
    font-size: 30px;
  }
  .introduction__content h3 {
    margin: 20px 0;
  }
  .introduction__content a {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  .about__tile-top {
    display: flex;
    justify-content: center;
  }
  .about__tile_bottom-lists,
  .about__tile-bottom > p {
    margin-top: 12px;
  }
  .about__tile-top__avatar-wrapper {
    width: 250px;
    height: 300px;
  }
  .experience,
  .contact,
  .introduction {
    margin: 60px auto;
  }

  .works__img {
    min-width: 250px;
    width: 250px;
    height: 138px;
    margin: 0 auto;
  }
  .works__content {
    align-items: flex-start;
  }
  .works__content h1 {
    font-size: 20px;
  }
  .works__content p {
    position: initial;
    margin-top: 12px;
  }
  .works__content--icons {
    margin: 0 0 12px 0;
  }

  .contact__box {
    width: 250px;
    padding: 16px;
    height: auto;
  }
}
