*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Dosis', sans-serif;
  min-height: 100vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  padding: 10px 20px;
  border-radius: 30px;
  text-align: center;
  border: none;
  background-color: var(--purple);
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-family: var(--font-d);
  font-size: 18px;
}
h1 {
  color: var(--purple);
  margin-bottom: 40px;
}

button:hover {
  background-color: var(--purple-l);
  transition: var(--smooth);
}
.display-flex {
  display: flex;
}

:root {
  --purple: #9c8cdb;
  --purple-l: #d3c0f9;
  --smooth: all 0.3s ease-in;
  --font-d: 'Dosis', sans-serif;
}
.portfolio__container {
  height: 100%;
  width: 1000px;
  margin: 0 auto 50px;
  font-size: 20px;
}
/* navbar  */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 60px;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  z-index: 1;
  transition: top 0.3s;
}

.navbar__logo {
  height: 50px;
  width: 50px;
}

.navbar__links {
  align-items: center;
  height: 50px;
}

.navbar__link {
  list-style-type: none;
  margin: 30px;
}

.navbar__link a {
  text-decoration: none;
  color: var(--purple);
  font-weight: bold;
  font-size: 18px;
}
.navbar__link a:hover {
  color: var(--purple-l);
}
/* introduction  */
.introduction {
  margin: 120px 0;
}

.introduction h3 {
  color: var(--purple);
  margin-bottom: 40px;
}
.introduction h1 {
  font-size: 70px;
  font-weight: bold;
}
.introduction p {
  margin-bottom: 40px;
  width: 60%;
}
/* about  */

.about__tile_left p {
  margin-bottom: 20px;
}

.about__tile-right {
  margin-left: 40px;
}

.about__tile_left-lists {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  list-style-position: inside;
}
/* experience  */
.experience {
  margin: 120px 0;
}
/* work  */
.works__img {
  min-width: 580px;
  height: 360px;
}

.works__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.works__content h1{
  font-size: 30px;
  margin-bottom: 20px;
}

.works__content p {
  position: absolute;
  width: 495px;
  height: 140px;
  background-color: var(--purple);
  top: 110px;
  left: -77px;
  padding: 20px;
  color: white;
  justify-content: flex-end;
}
.works__content--icons{
  margin-top: 180px;
}

.works__content--icons i {
  font-size: 35px;
  color: var(--purple);
}

